<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h3>Editar Prescrição</h3>
        <form action="prescricao_update" method="post">
            <p>Número Cédula: <input type="number" name="num_cedula"/></p>
            <p>Número Doente: <input type="number" name="num_doente"/></p>
            <p>Data: <input type="date" name="data"/></p>
            <p>Substancia: <input type="text" name="substancia"/></p>
            <p>Quantidade: <input type="text" name="quantidade"/></p>
            <p><input type="hidden" name="flag_prescricao" value="2"/></p>
            <p><input type="submit" value="Confirmar alteração"/></p>
        </form>
    </body>
</html>
