<html>

<head>
    <meta charset="UTF-8">
</head>

<body style="font-family:Arial; font-size:20px;">

    <header style="font-size:40px" ;>
        <center>Odisseia</center>
    </header>

    <header0> <b>Inserir:</b> </header0>

    <div><a href="inserir_instituicao"> Instituição </a></div>
    <div><a href="inserir_medico"> Médico </a></div>
    <div><a href="inserir_prescricao"> Prescrição </a></div>
    <div><a href="inserir_analise"> Análise </a></div>

    <header1> <b>Editar:</b> </header1>

    <div><a href="editar_instituicao"> Instituição </a></div>
    <div><a href="editar_medico"> Médico </a></div>
    <div><a href="editar_prescricao"> Prescrição </a></div>
    <div><a href="editar_analise"> Análise </a></div>
    
     <header2> <b>Remover:</b> </header2>

     <div><a href="remover_instituicao"> Instituição </a></div>
     <div><a href="remover_medico"> Médico </a></div>
     <div><a href="remover_prescricao"> Prescrição </a></div>
     <div><a href="remover_analise"> Análise </a></div>

    <header3> <b>Realizar venda em farmácia:</b> </header3>

     <div><a href="venda_farmacia_com_prescricao"> Com prescrição </a></div>
     <div><a href="venda_farmacia_sem_prescricao"> Sem prescrição </a></div>

    <header4> <b>Listar:</b> </header4>

     <div><a href="list_substancia_prescrita"> Substância prescritas por um médico num dado mês do ano </a></div>
     <div><a href="max_min_valor_glicemia"> Valores de glicémia mais alto e mais baixo em cada concelho e respectivo doente </a></div>

</body>

</html>
